<form #form="ngForm" name="form" (ngSubmit)="submit(form)">
  <h3>Enter your email and we'll send you a code to reset your password</h3>

  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        maxlength="320"
        type="email"
        name="email"
        autocomplete="email"
        [(ngModel)]="email"
        #emailInput="ngModel">
    </mat-form-field>
    <div [hidden]="emailInput.valid || emailInput.pristine" style="color: red;">Email is required.</div>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" aria-label="submit button">Submit</button>
  </div>

  <p class="help-text">New around here? <a routerLink="/auth/register" class="bs-link">Create an account</a>.</p>

  <p class="help-text"><a routerLink="/auth/login" class="bs-link">I rememberd my password!</a>.</p>
</form> 