<form #form="ngForm" name="form" (ngSubmit)="submit(form)">
  <h3>Enter your new password</h3>

  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        appPasswordValidator
        required
        type="password"
        name="password"
        autocomplete="new-password"
        [(ngModel)]="model.newPassword"
        #password="ngModel">
    </mat-form-field>
    <div [hidden]="(password.valid || password.pristine) && !showNewPasswordError" style="color: red;">Password is required.</div>
    <div [hidden]="password.valid || password.pristine" style="color: red;">{{ getControlError(password.control, 'length') }}</div>
    <div [hidden]="password.valid || password.pristine" style="color: red;">{{ getControlError(password.control, 'lowercase') }}</div>
    <div [hidden]="password.valid || password.pristine" style="color: red;">{{ getControlError(password.control, 'uppercase') }}</div>
    <div [hidden]="password.valid || password.pristine" style="color: red;">{{ getControlError(password.control, 'number') }}</div>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [appPasswordValidator]="model.newPassword"
        required
        type="password"
        name="confirm-password"
        autocomplete="new-password"
        [(ngModel)]="model.newPasswordVerify"
        #confirmPassword="ngModel">
    </mat-form-field>
    <div [hidden]="(confirmPassword.valid || confirmPassword.pristine) && !showNewPasswordVerifyError" style="color: red;">Password is required.</div>
    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" style="color: red;">{{ getControlError(confirmPassword.control, 'length') }}</div>
    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" style="color: red;">{{ getControlError(confirmPassword.control, 'lowercase') }}</div>
    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" style="color: red;">{{ getControlError(confirmPassword.control, 'uppercase') }}</div>
    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" style="color: red;">{{ getControlError(confirmPassword.control, 'number') }}</div>
    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" style="color: red;">{{ getControlError(confirmPassword.control, 'match') }}</div>
  </div>
  
  <div class="actions">
    <button mat-raised-button color="primary" type="submit" aria-label="submit button">Submit</button>
  </div>

  <p class="help-text">New around here? <a routerLink="/auth/register" class="bs-link">Create an account</a>.</p>
  
  <p class="help-text"><a routerLink="/auth/login" class="bs-link">I rememberd my password!</a>.</p>
</form>